
#app {
  display: flex;
  flex: 1;
  flex-direction: row;
  height: -webkit-fill-available;
}

.content {
  display: flex;
  flex: 3;
  flex-direction: column;
}

.content-top {
  display: flex;
  flex: 0.5;
}

.content-bottom {
  display: flex;
  flex: 1;
}