
#app {
  display: flex;
  flex: 1;
  flex-direction: row;
  height: -webkit-fill-available;
}

.api-list-section {
  display: flex;
  width: 200pt;
  /* flex: 1; */
  /* align-self: stretch; */
}

.api-detail-section {
  /* width: 200pt; */
  display: flex;
  flex: 1;
  align-self: flex-start;
}

.api-response-section {
  /* width: 300pt; */
  display: flex;
  flex: 1;
}