body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: #f6f8f9;
}

#root {
  display: flex;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

button:focus {
  outline: 0;
}
button,
input,
optgroup,
select,
textarea {
  font-family: inherit; /* 1 */
  font-size: 100%; /* 1 */
  line-height: 1.15; /* 1 */
  margin: 0; /* 2 */
}
input,
textarea {
  border: none;
  overflow: auto;
  outline: none;

  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;

  resize: none; /*remove the resize handle on the bottom right*/
}

/* Color pallate */
/* 
#ff5757
#ffa254
#fff97a
#87d1ff
#73aeff

*/

.btn {
  cursor: pointer;
  text-transform: none;
  display: flex;
  justify-items: center;
  align-items: center;
  min-width: 30pt;
  height: 33pt;
  padding: 8pt;
  border: 0;
  border-radius: 6pt;

  background-color: #ffa254;
  color: #ffffff;

  font-size: 12pt;
  font-weight: 600;
}

.btn:hover {
  background-color: #f87d19;
}


.divider {
  background-color: #dfe6e8;
  height: 1pt;
}


input {
  /* background-color: pink; */
  color: #333333;
  font-size: 12pt;
  display: flex;
  height: 16pt;
  padding: 8pt;
  border-radius: 2pt;
  border: 1pt solid #e0eaec;
  flex: 1;
}

input:hover {
  border: 1pt solid #dfe6e8;
}
input:focus-within {
  border: 1pt solid #c5ccce;
}